**/*.user
**/obj/**
**/.vs
**/bin/**
**/csx/**
**/packages/**
**/ecf/**
**/*.log
**/*.err
**/*.sdf
**/*.opendb
**/*.opensdf
**/*.vc.db
**/zlog.lock
**/log.config.ini
.vscode/**
build/**
*.user
**/*.sln
**/*.vcx*