/**/*.user
/**/obj/**
/**/.vs
/**/bin/**
/**/csx/**
/**/ecf/**
/**/*.log
/**/*.err
/**/*.sdf
/**/*.opendb
/**/*.opensdf
/**/*.vc.db
/**/zlog.lock
/.vscode/**
/build/**
*.user
# Ignore editor backup files
*~
