/**/*.i
/**/*.user
/**/obj/**
/**/.vs
/**/bin/**
/**/csx/**
/**/ecf/**
/**/*.log
/**/*.err
/**/*.sdf
/**/*.opendb
/**/*.opensdf
/**/*.vc.db
/**/zlog.lock
/**/TestResults/**
/**/*.vsp*
/**/*.psess
/**/launchSettings.json
/.vscode/**
/build/**
*.user
/**/packages/**
/**/packages.config
# Ignore editor backup files
*~
