[submodule "deps/umqtt"]
	path = deps/umqtt
	url = https://github.com/marcschier/azure-umqtt-c.git
[submodule "deps/shared"]
	path = deps/shared
	url = https://github.com/Azure/azure-c-shared-utility.git
[submodule "deps/umock"]
	path = deps/umock
	url = https://github.com/Azure/umock-c.git
[submodule "deps/ctest"]
	path = deps/ctest
	url = https://github.com/Azure/azure-ctest.git
[submodule "deps/trunner"]
	path = deps/trunner
	url = https://github.com/Azure/azure-c-testrunnerswitcher.git
[submodule "deps/parson"]
	path = deps/parson
	url = https://github.com/kgabis/parson.git
[submodule "deps/lws"]
	path = deps/lws
	url = https://github.com/warmcat/libwebsockets.git
	branch = v2.1-stable
[submodule "deps/getopt"]
	path = deps/getopt
	url = https://github.com/alex85k/wingetopt
[submodule "deps/cmp"]
	path = deps/cmp
	url = https://github.com/camgunz/cmp.git
[submodule "deps/zlog"]
	path = deps/zlog
	url = https://github.com/marcschier/zlog.git
	branch = v1.2.12.1-develop
[submodule "deps/hashtable"]
	path = deps/hashtable
	url = https://github.com/marcschier/c-hashtable.git
	branch = c99
[submodule "deps/dnssd"]
	path = deps/dnssd
	url = https://github.com/marcschier/dnssd.git
