#
# See http://hardysimpson.github.io/zlog/UsersGuide-EN.html
#
[global]
strict init=true
buffer min=1024
buffer max=0
file perms=644
rotate lock file=zlog.lock
default format="%d(%T).%ms [%t] %V %m%n"

[formats]
trace="[Tid=%t %d(%T).%ms] (%c) %m%n"
full="[Pid=%p:Tid=%t %d(%T).%ms] %c %V %m [%U:%L]%n"
error="%d(%T).%ms [%t] %V %m [%U:%L]%n"

[rules]
# *.error "proxy.err" ;error
# *.* "proxy.log",1M*3 ;full

#pal_ws.debug >stdout ;trace
#io_ws.debug >stdout ;trace

*.info >stdout
*.notice $default ;error

